build-*/
libSNC*
build/
__pycache__
android-*
app_process
libc.so
*.pro.user*
Makefile*
*.tgz
*.bz2
*.autosave
.qmake.*
.DS_Store
Debug/
debug/
Release/
release/
Output/
bin/*.dll
objects/
Deploy/
GeneratedFiles/
object_script.*
*.log.*
*.exe
*.lib
*.ilk
*.pdb
*.log
*.ncb
*.user
*.suo
*.aps
*.obj
*.msi
*.pch
*.ini
*.srf
*.srx
*~
*.a
*.o
*.axf
*.bin
*.map
!.gitignore
.metadata/
*.sdf
*.opensdf
ipch/
*.dat
*.edt
.certs/
*.log

